rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_owner/$(request.auth.uid));
    }

    match /bookings/{bookingId} {
      allow create: if true;
      allow read, update, delete: if isOwner();
    }
    
    match /roles_owner/{userId} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write: if false;
    }
  }
}